# Stripe API Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Stripe Price IDs
STRIPE_PRICE_SHADOW_ENCHANTER=price_1QxTikGOFqnNirWjwG7PLoLe
STRIPE_PRICE_VOID_WALKER=price_1QxTaCGOFqnNirWjK1VhvZR6
STRIPE_PRICE_ETHEREAL_WARDEN=price_1QxTjVGOFqnNirWj57F9DTNS
STRIPE_PRICE_ASTRAL_GUARDIAN=price_1QyUbVGOFqnNirWjX8Y6zPm9

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Discord OAuth
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret

# Minecraft Server
MINECRAFT_SERVER_API_URL=http://your_minecraft_server:8080
MINECRAFT_SERVER_API_KEY=your_minecraft_api_key
MINECRAFT_PLUGIN_PATH=path/to/your/minecraft/plugins/WebsitePlugin

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# PostgreSQL connection details
POSTGRES_DATABASE=postgres
POSTGRES_HOST=your_postgres_host
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_USER=postgres
POSTGRES_URL=your_postgres_connection_url
POSTGRES_URL_NON_POOLING=your_postgres_connection_url_non_pooling 