# Stripe API Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_publishable_key_here
STRIPE_SECRET_KEY=your_secret_key_here
STRIPE_WEBHOOK_SECRET=your_webhook_secret_here

# Stripe Price IDs
STRIPE_PRICE_SHADOW_ENCHANTER=price_1QxTikGOFqnNirWjwG7PLoLe
STRIPE_PRICE_VOID_WALKER=price_1QxTaCGOFqnNirWjK1VhvZR6
STRIPE_PRICE_ETHEREAL_WARDEN=price_1QxTjVGOFqnNirWj57F9DTNS
STRIPE_PRICE_ASTRAL_GUARDIAN=price_1QyUbVGOFqnNirWjX8Y6zPm9

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Discord OAuth
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_CLIENT_SECRET=your_discord_client_secret_here

# Minecraft Server
NEXT_PUBLIC_SERVER_IP=play.enderfall.co.uk
MINECRAFT_SERVER_API_URL=http://your-server-api-url:8080
MINECRAFT_SERVER_API_KEY=your_api_key_here
MINECRAFT_PLUGIN_PATH=/path/to/plugin

# Minecraft Proxy Server
MINECRAFT_PROXY_API_URL=http://your-proxy-api-url:8113
MINECRAFT_PROXY_API_KEY=your_proxy_api_key_here

# Minecraft Server IPs and Ports
MINECRAFT_PROXY_IP=your_proxy_ip
MINECRAFT_PROXY_PORT=25674
MINECRAFT_LOBBY_IP=your_lobby_ip
MINECRAFT_LOBBY_PORT=25610
MINECRAFT_TOWNY_IP=your_towny_ip
MINECRAFT_TOWNY_PORT=25579

# API Ports (for plugin communication)
MINECRAFT_PROXY_API_PORT=8113
MINECRAFT_LOBBY_API_PORT=8090
MINECRAFT_TOWNY_API_PORT=8137

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# PostgreSQL connection details
POSTGRES_DATABASE=postgres
POSTGRES_HOST=your_postgres_host_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_PRISMA_URL=your_prisma_url_here
POSTGRES_URL=your_postgres_url_here
POSTGRES_URL_NON_POOLING=your_non_pooling_url_here
POSTGRES_USER=postgres 